body {
    background-image: url(../../hypnotize.png);
    font-family: 'Alegreya', serif;
}
.wrapper {
    clear: both;
    padding-top: 50px;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }
  .navText,
  .footerText {
      padding: 5px 10px;
      font-family: 'Nunito', sans-serif;
  }
  .imgDiv {
      position: relative;
  }
  .imgDiv > img {
      width: 100%;
  }
  .imgDiv > h5 {
      position: absolute;
      bottom: 30px;
      left: 20px;
      color: white;
      text-shadow: 2px 2px 8px #c9c2c2;
  }
